{% extends 'products/base.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet"  href="{% static 'products/navbar.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    
{% endblock head %}


{% block content %}

<!-- {{ category_list }} -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="{% static 'img/navidad.jpg' %}" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="{% static 'img/toys.jpg' %}" alt="Second slide" >
      <div class="container">
        <!-- <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div> -->
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="{% static 'img/homr.jpg' %}" alt="Third slide">
      <div class="container">
        <!-- <div class="carousel-caption text-right">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div> -->
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class='row'>
{% for category in category_list %}


    <div class="col-md-2"> 
      <!-- div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 "> -->
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-2" >
            <h2 class="display-5">{{ category.name }}</h2>
            <i class="{{ category.symbol }}"></i>
          </div>
        </div>
      </div>  
   
{% endfor %}
</div>
{% endblock content %}